body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #aa2a31, #002a6d);
    color: #fff;
    animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #666;
    margin: 20px 0;
}

label {
    font-weight: bold;
    color: #aa2a31;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #aa2a31;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d84850;
}

